.about-company__presentation {
    display: flex;
    padding: 40px 0 60px;
}

.about-company__info {
    flex: 1 0 620px;
}

.about-company__text {
    padding-top: 11px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}

.about-company__button-wrapper {
    margin-top: 40px;
}

.about-company__text-wrapper {
    font-weight: 900;
    font-size: 81.2535px;
    line-height: 95px;
    text-align: right;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--white-color);

    text-shadow: 0 0 2px var(--accent-color);
}

.about-company__image-wrapper {
    position: relative;
    z-index: 60;
    max-width: 590px;
    margin-top: -80px;

    transform: translateX(-300px) scale(1.8);
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.about-company__advantages {
    padding-top: 60px;
}

.about-company__text-wrapper,
.about-company__info {
    transform: translateY(200px);
    opacity: 0;
    transition:  0.5s ease-in-out;
}

._active .about-company__text-wrapper {
    transform: translateY(0);
    opacity: 1;
}

._active .about-company__info {
    transform: translateY(0);
    opacity: 1;
}

._active .about-company__image-wrapper {
    transform: translateX(0) scale(1);
    opacity: 1;
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 1221px) {
    .about-company__presentation {
        flex-direction: column;
        padding: 20px 0 40px;
    }
    .about-company__info {
        flex: 1 0 auto;
        margin-bottom: 40px;
    }
    .about-company__text {
        text-align: center;
    }
    .about-company__button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .about-company__text-wrapper {
        font-size: 60px;
        line-height: 66px;
        text-align: center;
    }
    .about-company__image-wrapper {
        margin-top: -20px;
    }
}
